[Unit]
Description=Proxmox WOL Listener
After=network.target
Wants=network-online.target
After=network-online.target
After=pve-cluster.service pvedaemon.service
Requires=pve-cluster.service pvedaemon.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/proxmoxwol-listener.py
StandardOutput=journal
StandardError=journal

# Basic security
NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
